// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.feeds{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__articles{
    @extend .feeds;
  }
}